<section class=" h-75 glass shadow-3d card text-white  p-1">
    <div class="card-header p-2 center justify-content-start panel-title">
        <span>Experience</span> <i class=" ms-2 bi bi-arrow-right"></i>
    </div>
    <div class="card-body p-0 ps-3">
        <div>
            <div class="fw-bolder p-0 m-0">
                <span class="p-0">
                    Software Engineer
                    <span class="p-0 text-info">At OSI Systems</span>
                </span>
            </div>
            <div class="mt-2">
                <h6 class="text-white-50"><span>Nov 2021</span> - <span>Oct 2023</span></h6>
            </div>
        </div>

        <div class="body">
            <UL class="gap-lg-4 flex-column d-flex">
                <li>Developed scalable features in micro front-end and microservices using Spring Boot 3 and Angular.
                </li>
                <li>Designed and deployed a software update, resulting in a 30% reduction in system errors and a 25%
                    improvement in application performance.</li>
                <li>Implemented a real-time data analytics dashboard with Angular, enhancing user experience and
                    enabling dynamic data visualization.</li>
                <li>Introduced unit testing and code review processes using Jasmine/Karma for Angular and JUnit for
                    Spring Boot, Reducing bugs by 35%.</li>
                <li>Contributed to the Development of a scalable web application powered by Angular elements micro
                    frontend.</li>
                <li>Built responsive web interfaces using Media Queries, Flexbox, CSS Grid, Bootstrap, Angular Material,
                    and JQuery.</li>
                <li>Contributed to a security enhancement project By integrating OAuth2 LDAP and JWT authentication
                    mechanisms in Spring Boot applications, improving application security</li>
               

            </UL>
        </div>

        <div class="card-footer">
            <span>Technology Used : </span>            
        </div>


    </div>
</section>