<section id="about-me " class="position-relative vw-100 overflow-x-hidden  ">


    <div class="main container-fluid px-4 py-5 ps-3 ">

        <div class="welcome h-100 w-100 d-flex align-items-center ">
            <div class="about p-4 ">
                <div class="w-100 p-3 m-auto">
                    <h1 class="fw-bold">Welcome !!</h1>
                    <h2>I'm Mohammed Shaikh, with over two years of experience in web development. </h2>
                    <h3>I have a passion for coding, designing interfaces, and building robust backend systems.</h3>
                    <span> </span>

                </div>
            </div>
            <div class="fill-gape"></div>
            <div class="image  ">
                <div class="img overflow-hidden ">
                    <img src="./assets/images/IMG_20240511_160936.jpg" alt="">
                </div>
            </div>
        </div>

        <div class="about-me  responsive-width mt-5 d-xxl-flex d-none ">

            <div class=" max-width15 m-auto d-flex  gap-3  flex-wrap justify-content-start">
                @for (detail of details; track $index) {
                <div class="card">
                    <div class="card-header">
                        {{detail.title}}
                    </div>
                    <div class="card-body">
                        <div class="details">{{detail.info}} </div>
                    </div>

                </div>
                }
            </div>
        </div>

        <div class="about-me1 text-black mt-5 d-xxl-none">
            @for (detail of details; track $index) {
            <div class="flex-wrap d-flex justify-content-lg-around gap-3">
                <div class="header">
                    <span class="bi text-danger bi-arrow-right ms-3 h4"> {{detail.title}}</span>
                </div>
                <div class="details me-5">
                    {{detail.info}}
                </div>
            </div>

            }
        </div>


        <div class="skills responsive-width text-black text-capitalize mb-5">

            <header class="ms-3">
                Skills Set
            </header>

            <div
                class="skill-container max-width15 m-auto d-flex flex-wrap h-100 w-100 justify-content-center  gap-2 px-3">

                @for (skill of skills; track $index) {


                <div class="card circle">
                    <div class="card-header text-center mt-3">{{skill.name}}</div>
                    <div class="card-body d-flex justify-content-center align-items-center">
                        <img [src]="'./assets/icons/'+skill.source" alt="">
                    </div>
                </div>
                }

            </div>

        </div>
    </div>


</section>