<section id="about-me " class="position-relative  ">
    <button class="btn back-btn  abs btn-icon position-absolute top-0" (click)="goto()">
        <span class="bi h1 text-black bi-arrow-left"> </span>
    </button>

    <div class="main container-fluid px-4 py-5">
        <div class="welcome h-100 w-100 d-flex align-items-center ">
            <div class="about p-4 ">
                <div class="w-100 p-3 m-auto">
                    <h1 class="fw-bold">Welcome !!</h1>
                    <div class="details">I'm a passionate and results-oriented full-stack web developer with a strong
                        desire to create user-friendly and visually appealing web applications. I enjoy working on both
                        the front-end (user interface) and back-end (server-side) aspects of web development, which
                        allows me to bring a holistic perspective to every project I undertake.
                    </div>
                </div>
            </div>
            <div class="fill-gape"></div>
            <div class="image  ">
                <div class="img overflow-hidden ">
                    <img src="./assets/images/IMG_20240511_160936.jpg" alt="">
                </div>
            </div>
        </div>

        <div class="skilss  h-100 w-100 bg-white my-5">

        </div>

        <div class="skilss  h-100 w-100 bg-white my-5">

        </div>

        <div class="skilss  h-100 w-100 bg-white my-5">

        </div>
    </div>


</section>