@if (active) {
<section id="home" class=" h-100 w-100 position-relative" [class.active]="active()">
    <div class="introduction">
        <div appSlideInOut direction="left" [inView]="active()" class="text-section vw-100 vh-100  ">
            <div class="name position-relative overflow-visible  " [innerHTML]="pageTitle">
            </div>
            <br>
            <div>
                <div class="liners position-relative">
                    <span class="bg-danger"></span>
                    <span class="bg-danger"></span>
                </div>
                <div class="high-text text-justify pe-2 mt-3">{{highText}}</div>

            </div>
            <ng-content select="[contents]"></ng-content>
            <button class="btn btn-dan ger show-more mt-2" appRipples (click)="navigateTo()">
                Explore More !
            </button>
        </div>
    </div>
    @if (defaultPanel) {
    <div class="space vw-100 vh-100">
        <div class="stars btn" appParallax2 appSlideInOut direction="right" [inView]="active()">
            <div class="layer" data-depth="0.3">
                <div class="image-cover" [class.active]="active()">
                    <!-- <ng-content select="[question]"></ng-content> -->
                    <img [src]="imageSource" alt="">
                </div>
            </div>
        </div>
    </div>
    }@else {
    <ng-content select="[custumPanel]"></ng-content>
    }

</section>
}