<section id="about" class="body p-5 mt-2 flex-center">
    <div class="d-flex about-container justify-content-around flex-wrap h-100 align-items-center">
        <div class="thumbnail">
            <img src="./assets/images/about.png" class="w-100" alt="">
        </div>
        <div class="details-panel p-2 mt-5">
            <p>
                Hello there! I'm [Your Name], a passionate software developer with a love for turning ideas into functional and user-friendly applications. My journey into the world of coding began [mention how you started], and ever since then, I've been on an exciting quest to master the art of software development. Whether it's solving complex problems or creating seamless user experiences, I thrive on challenges. Let's build something amazing together!

            </p>
        </div>
    </div>
</section>