<nav class="navbar position-sticky top-0 start-0 end-0 navbar-expand-lg  navbar-dark p-2">
    <span class="navbar-brand title px-3" href="#">
        Mohammed Shaikh
    </span>
    <button class="navbar-toggler" type="button" (click)="toggle(collapse)">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" #collapse id="navbarSupportedContent">
        <div class="flex-fill"></div>
        <ul #links class="navbar-nav mr-auto me-5">
            <li class="nav-item active" #navitem1 (click)="navigate(navitem1)">
                <a class="nav-link btn" (click)="navigateTo(0)" data="home">Home</a>
            </li>
            <li class="nav-item" #navitem2 (click)="navigate(navitem2)">
                <a class="nav-link btn" (click)="navigateTo(1)" data="about">About</a>
            </li>
            <li class="nav-item" #navitem4 (click)="navigate(navitem4)">
                <a class="nav-link btn" (click)="navigateTo(2)" data="projects">Projects</a>
            </li>
            <li class="nav-item" #navitem3 (click)="navigate(navitem3)">
                <a class="nav-link btn" (click)="navigateTo(3)" data=" ">Contact</a>
            </li>
        </ul>
    </div>
</nav>