$bg: #011321;
$bg: #001c2d;

.navbar {
    z-index: 9999;

    * {
        color: white !important;
    }

    .back-btn {
        @media screen and (orientation:portrait) {
            z-index: 9999;
            // margin-top: 55px;
            // position: fixed;
            width: 3rem;
            height: 3rem;
            padding: 10px !important;
        }

        .bi {
            font-size: 2rem;
        }
    }

    .show-more {
        background: #001C2D;
        width: 2rem;
        height: 2rem;
        padding: 1.5rem !important;
        border: none !important;

    }

    .navbar-toggler {
        border-radius: 50%;
        height: 40px;
        width: 40px;
        padding: 0;
        order: 4;

        display: flex;
        justify-content: center;
        align-items: center;

        .navbar-toggler-icon.close {
            z-index: 9;
            background-image: none;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;

            /* Replace with your SVG path */
            /* Create a pseudo-element behind the SVG */
            &::before,
            &::after {
                content: "";
                /* Set the size and position to match the icon */
                width: 3px;
                height: 1.4em;
                position: absolute;
                left: calc(50% - 1.5px);
                background-color: white;
                border-radius: 3rem;
            }

            &::after {
                rotate: -45deg;
            }

            &::before {
                rotate: 45deg;
            }

        }
    }

    .title {
        font-weight: 700;
        font-size: clamp(1.5em, 3rem, 3vh);
    }

    height: 60px;

    .nav-banner {

        transition: all 358ms cubic-bezier(0.645, 0.045, 0.355, 1) 0s;

        background-image: linear-gradient(to left, #dc3545, $bg);
        width: 0;
        height: 0;
        padding: 1rem;
        left: 0;
        font-family: "Ubuntu Sans mono", sans-serif;
        z-index: 1;
        font-size: clamp(2rem, 2.5rem, 3rem);
        opacity: 0;

        .navbar-nav {
            margin: auto !important;


            .nav-item {
                width: clamp(12rem, 14.5rem, 15rem);
                width: max-content;
                padding: 0 1rem;

                .nav-link {
                    width: max-content;
                    padding: 0 1rem;
                }

            }
        }

        &:not(.show) {
            pointer-events: none;
        }

        &.show {
            transform: translate(0vw, 0px);
            opacity: 1;
            width: 100vw;
            height: 100vh;
        }



    }

    .nav-item {
        // animation: 0.5s slide;
        position: relative;

        width: clamp(12rem, 14.5rem, 15rem);
        width: max-content;
        padding: 0 1rem;

        @keyframes slide {
            0% {
                transform: translate(-50vw, 0px);
            }
        }

        .nav-link {
            color: white !important;
            text-align: center;
            font-weight: 500;
            width: max-content;
            padding: 0 1rem;
        }

        &:hover {
            transition: all 0.15s cubic-bezier(0.39, 0.575, 0.565, 1) 0s;
            scale: 1.2;

        }

        &.active {
            border-radius: 5px;
            // background-color: rgba(var(--bs-primary-rgb), var(--bs-bg-opacity)) !important;
            border: 3px white solid;
            position: relative;

            &::before,
            &::after {
                content: "";
                /* Set the size and position to match the icon */
                width: 3px;
                height: 1.4em;
                position: absolute;
                background-color: white;
                border-radius: 3rem;
                animation: shrinkle 1s cubic-bezier(0.39, 0.575, 0.565, 1) 0s infinite;
            }

            &::after {
                left: calc(90% - 1.5px);
                bottom: 0%;
                rotate: 45deg;
            }

            &::before {
                rotate: 45deg;
            }

            @keyframes shrinkle {
                0% {
                    height: 0.5em;
                    opacity: 0.5;
                    width: 5px;
                }

                50% {
                    height: 1.4em;
                    opacity: 1;
                    width: 3px;
                }

                100% {
                    height: 0.5em;
                    opacity: 0.5;
                    width: 5px;
                }
            }
        }
    }
}