.navbar {
    z-index: 9999;

    .title {
        font-weight: 700;
    }

    height: 60px;

    .collapse {
        @media screen and (max-width: 992px) {
            transform: translate(-100vw, 0px);
            transition: all 1000ms cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
            display: block;
            padding: 1rem;
            position: absolute;
            top: 60px;
            background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
            width: 100%;
            left: 0;

            .navbar-nav {
                margin: auto !important;

                display: grid;
                grid-template-columns: 1fr 1fr;
                justify-items: center;

                .nav-item {
                    width: 150px;
                    padding: 0 1rem;

                }
            }

            &.show {
                transform: translate(0vw, 0px);
            }
        }



    }

    .nav-item {
        width: 5rem;
        // animation: 0.5s slide;

        @keyframes slide {
            0% {
                transform: translate(-50vw, 0px);
            }
        }

        .nav-link {
            color: white !important;
            text-align: center;
            font-weight: 500;
        }

        &.active {
            border-radius: 5px;
            background-color: rgba(var(--bs-primary-rgb), var(--bs-bg-opacity)) !important;
        }
    }
}