<section class="text-black position-relative">
    <button class="btn back-btn  abs btn-icon position-absolute top-0" (click)="goto()">
        <span class="bi h1 text-black bi-arrow-left"> </span>
    </button>
    <div class="object">
        <div class="object-rope"></div>
        <div class="object-shape">
            Coming <span class="soon">Soon</span>
        </div>
    </div>

    <div class="content">

        <p class="message">Portfolio is under construction</p>

        <p class="mailtoaddress"><em>admin {{"@CodeRains Mohammed Shaikh"}}</em></p>
    </div>
</section>