:root {
    --rotateSpeed: 30s;
    --bounceSpeed: 2s;
}

#moon {
    width: 30rem;
    height: 30rem;
    border-radius: 100%;
    background-color: rgb(225, 211, 211);
    animation: fade 2s forwards;


    @keyframes fade {
        from {
            scale: 0;
            opacity: 0;
        }

        to {
            opacity: 1;
            scale: 1;
        }
    }
}

#home {
    position: relative;
    background-color: transparent;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: auto;
    overflow: hidden;
    position: relative;
    perspective: 100em;
    perspective-origin: 50% calc(50% - 20em);

    .intro-panel {
        .intro {
            background: rgb(31, 0, 77);
            background: linear-gradient(90deg, rgba(31, 0, 77, 1) 12%, #330080 90%);
            border-radius: 5rem;
            width: min(90%, 40rem, 50rem);
            height: min(100%, 40rem, 50rem);
            position: relative;

            &::after {
                content: "";
                width: 0;
                height: 0;
                position: absolute;
                transform: rotate(-45deg);
                right: 23%;
                bottom: calc(-2% - 4rem);
                border-left: 8rem solid transparent;
                border-right: 8rem solid transparent;
                border-bottom: 8rem solid #330080;
                z-index: -1;

                @media screen and (max-width:1200px) {
                    bottom: -15%;
                    right: 20%;
                    transform: rotate(-45deg) !important;
                    border-left: 4rem solid transparent;
                    border-right: 4rem solid transparent;
                    border-bottom: 4rem solid #330080;
                }
            }
        }
    }

    .bg {
        z-index: -1;
        position: absolute;
        height: 100%;
        width: 100%;
        opacity: 0.5;
    }

    .image {
        height: 600px !important;
        width: 400px;
        position: relative;

        img {
            object-fit: contain;
            background-color: transparent;
        }

        &::after {
            content: "";
            position: absolute;
            height: 600px !important;
            border: 10px red solid;
            border-radius: 60rem;
            width: 400px;
            left: -10%;
        }

        .covers {
            height: 100%;
            width: 100%;
            background-color: white;
            position: absolute;
            z-index: -1;
        }
    }

    .center {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


// section#home {
//     background-color: rgb(125, 106, 83);
//     height: 100vh;
//     width: 100vw;
//     perspective: 10em;
//     perspective-origin: 50% calc(50% - 3em);

//     .floor {
//         // background-color: black;
//         z-index: -1;
//         position: absolute;
//         transform-style: preserve-3d;

//         width: 175vw;
//         height: 25vh;
//         background-image: radial-gradient(rgba(0, 0, 0, 0), #000), repeating-conic-gradient(from 45deg, #111 0deg 90deg, #222 90deg 180deg);
//         background-size: 100%, 1em 1em;
//         transform: translate(-22%, -85%) rotateX(75deg);
//         bottom: 0;
//     }

//     .content {

//         // z-index: 10;

//         .box {
//             // width: 50vw;
//             // height: 50vw;

//             height: clamp(30rem,60vh,70vh);
//             width: clamp(25rem,60vw,70vw);

//             // @media screen and (orientation: landscape) {
//             //     width: 80vh;
//             //     height: 50vh;
//             // }

//             z-index: 2;
//             background-color: #fff;
//             // transform: translate(-20%, 0%) rotateX(0deg);

//         }
//     }

//     .pots {
//         img {
//             position: absolute;
//             bottom: 0;
//             display: none;
//         }

//         .pot1 {
//             // display: block;
//             transform: translate(8%, -75%) rotateX(0deg);
//             width: clamp(10rem,20rem,30rem);
//         }

//         .pot2 {
//             transform-origin: bottom;
//             transform: translate(10%, 0%) rotateX(0deg);
//             height: 95%;
//             right: 0;
//         }

//         .pot3 {
//             transform: translate(10%, 33%) rotateX(0deg);
//             height: 45%;

//         }

//         .pot4 {
//             transform: translate(10%, 33%) rotateX(0deg);
//             height: 95%;
//             z-index: 3;
//         }

//     }
// }