<section id="home" class="overflow-hidden ">
    <div class="floor">
        <div class="pots h-100 w-100">
            <img src="assets/images/pot1.png" class="pot1" alt="">
            <img src="assets/images/pot2.png" class="pot2" alt="">

            <img src="assets/images/pot1.png" class="pot3" alt="">
            <img src="assets/images/pot2.png" class="pot4" alt="">
        </div>
    </div>
    <div class="content d-flex justify-content-center align-items-center vh-100 vw-100 position-relative">
        <div class="box card">
            <div class="card-header"></div>
            <div class="card-body"></div>
        </div>
    </div> 
</section>