<section id="home" class="d-flex justify-content-center align-items-center h-100">
    <div class="bg">
        <!-- <div id="app-cubes" [count]="3000" [size]="'4rem'"></div> -->
    </div>

    <div class="grid-container px-lg-5 w-100 ">
        <div class="grid row mt-5">
            <div class="col-xl-6 intro-panel center">
                <div class="intro  p-5">
                    <div class="itro my-5">
                        <h5>Hello , i'am </h5>
                        <h1>Mohammed<span class="text-primary"> Shaikh</span> </h1>
                        <h6>
                            <span class="typer" id="main" data-words="Web Developer, Email Developer" data-delay="100"
                                data-deletedelay="1000"> Email s </span>
                        </h6>
                    </div>
                    <div>
                        <button class="btn btn-primary">
                            HIRE ME !!
                        </button>
                        <button class="btn text-primary">PORTFOLIO !</button>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 p-5 center opacity-50">
               
                <div id="moon" alt="Moon"></div>

                <!-- <div class="image h-100 d-flex justify-content-around">
                    <img class="w-100 cover-image "
                        src="https://avatars.mds.yandex.net/get-altay/4341149/2a0000017b93122a825f48b712345dca52b3/XXL"
                        alt="">
                    <div class="covers"></div>
                    <div class="covers"></div>
                    <div class="covers"></div>
                </div> -->

            </div>

        </div>
    </div>
</section>
<div id="temp">
    
</div>