::ng-deep {
    * {
        overflow: hidden !important;
    }
}

$bg: #011321;
$bg: #001c2d;
$content-width: clamp(50vw, 30rem, 90vw);

section.portfolio {

    .full-width-div {
        width: 100vw;

        @media screen and (orientation:landscape) {
            height: calc(100vh);

            .content-icons {

                .content-box {
                    margin: 0 1rem;
                }
            }

        }

        @media screen and (orientation:portrait) {
            height: calc(100vh);
        }


        // background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
        // filter: blur (10px);


        @keyframes fade {
            0% {
                opacity: 0;
                scale: 0;
                filter: blur(10rem);
            }

            40% {
                filter: blur(1rem);
            }

            50% {
                opacity: 1;
                scale: 1;
                filter: blur(0);

            }

            100% {
                opacity: 1;
            }
        }

        .content-icons {
            width: $content-width;

            .content-box {
                cursor: pointer;
                min-width: 4rem;
                height: 4rem;
                display: flex;
                flex-direction: column;

                .bi {
                    margin: auto;
                    padding-bottom: 0;
                }

                img {
                    width: 4rem;
                    height: 4rem;
                    object-fit: scale-down;
                }


            }
        }

        .shapes {
            font-size: 3rem;
            height: 4rem;
            overflow: hidden;

            .content-box {
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                min-width: 4rem;
                height: 4rem;
            }
        }
    }


}


::ng-deep {
    .introduction {
        .text-section {
            margin-left: 8rem;

            .high-text {
                width: $content-width;
                text-align: justify;
                font-size: clamp(1.5vw, 1.5rem, 5vw);
            }
        }

        .show-more {
            padding: 0.5rem 3rem;
            border-radius: 3rem;
            font-weight: 700;
            transition: all 0.5568s cubic-bezier(0.175, 0.885, 0.32, 1.275);
            height: 3rem;
            position: relative;
            color: white;
            background: linear-gradient(to right, #FF512F 0%, #DD2476 51%, #FF512F 100%);

            span {
                position: absolute;
                transform: translate(-50%, -50%);
                background-color: rgba(255, 255, 255, 0.29);
                border-radius: 50%;
                animation: ripple 1s cubic-bezier(0.59, 1, 0.22, 1) 0s infinite;
                background-size: 200% auto;

                @keyframes ripple {
                    0% {
                        width: 0;
                        height: 0;
                    }

                    100% {
                        width: 200px;
                        height: 200px;
                    }
                }
            }

            &:hover {
                transform: translateY(5px);

                &::after {
                    content: "";
                    position: absolute;
                    background-color: white;
                    width: 1%;
                    height: 150%;
                    transform: rotate(15deg);
                    left: -10%;
                    top: -20%;
                    box-shadow: 0px 0px 10px 10px rgba(255, 255, 255, 0.509);
                    animation: flash 1.8s cubic-bezier(0, 1, 0.8, 2.8) 0s forwards;

                    @keyframes flash {
                        from {
                            left: 0%;
                        }

                        to {
                            left: 110%;
                        }

                    }

                }
            }

            &:active {
                scale: 0.95;
            }
        }


        .name {
            font-size: clamp(3rem, 5vw, 8vw);
            line-height: 1;
            letter-spacing: 0.1em;
            // margin-bottom: 0.5rem;

            font-weight: 500;
            // font-style: italic;
            text-shadow: 0 10px 30px rgba(2, 11, 22, 0.5);
        }


        .liners {
            width: 10rem;
            overflow: visible !important;

            span {
                overflow: visible !important;
                display: block;
                width: 8rem;
                margin: 1rem;
                height: 0.5rem;
                border-radius: 3rem;
                transition: all 1s;
            }

            :first-of-type {
                animation: slide-left-right 2s infinite ease-out;
            }

            :last-of-type {
                // margin-left: 10rem;
                animation: slide-left-right 2s infinite ease-out reverse;
            }

            @keyframes slide-left-right {
                0% {
                    transform: translateX(0%);
                }

                50% {
                    transform: translateX(15%);
                }

                100% {
                    transform: translateX(0%);
                }
            }
        }
    }

    @media screen and (orientation:portrait) {
        .text-section {
            padding-top: 50%;
            margin-left: 2rem !important;
        }
    }

    @media screen and (orientation:landscape) {
        .text-section {
            display: flex;
            justify-content: center;
            align-items: start;
            flex-direction: column;
        }
    }

    .space {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: right;
        align-items: center;
        z-index: -1;

        @media screen and (orientation:portrait) {
            // margin-top: 5rem;
            align-items: start !important;
        }

        .stars {
            position: absolute;

            @media screen and (orientation:portrait) {
                width: 140vw;
                height: 140vw;
                top: -10%;
                left: 20%;
            }

            /* Landscape */
            @media screen and (orientation:landscape) {
                width: 120vh;
                height: 120vh;
                left: 40%;
            }


            .layer {
                height: 100%;
                width: 100%;
                transform-style: preserve-3d;
                backface-visibility: hidden;
                position: absolute;
                display: block;
                left: 0px;
                top: 0px;
                padding: 10px;

                img {
                    width: 100%;
                    border-radius: 1rem;
                    // box-sizing: border-box;
                }
            }

        }



    }
}



.side-nav {
    left: 0;
    position: absolute;
    z-index: 100;


    span {
        padding: 1px;
        background-color: white;
        border-radius: 3rem;


    }

    @media screen and (orientation:landscape) {
        width: 6rem;
        margin-left: 0.5rem !important;
        height: 100vh;
        top: 0;
        flex-direction: column;

        span {
            height: 5px;
            margin: 1rem 0;
            width: 3.5rem;

            &.active {
                width: 5rem;
                background-color: #dc3545;
            }
        }
    }



    @media screen and (orientation:portrait) {
        width: 100vw;
        height: 4rem;
        bottom: 8vh;
        justify-content: space-evenly !important;

        span {
            // margin: 0 1rem;
            height: 3rem;
            width: 5px;
            bottom: 0;

            &.active {
                background-color: #dc3545;
                height: 4rem;
            }
        }
    }

}