<app-stars [count]="10"></app-stars>
<div class="space">
    <div class="stars  overflow-visible" appParallax2>
        <div class="layer" data-depth="0.2">
            <img src="./assets/images/moonlight.svg" alt="">
        </div>
        <div class="layer" data-depth="0.1">
            <img src="./assets/images/star.svg">
        </div>
    </div>
</div>

<nav class="side-nav d-flex justify-content-center overflow-visible ms-2 ">
    <span class="btn" ngbTooltip="Home" [class.active]="scrollAmount==0" (click)="scrollAmount=0"></span>
    <span class="btn" ngbTooltip="About" [class.active]="scrollAmount==-1" (click)="scrollAmount=-1"></span>
    <span class="btn" ngbTooltip="Projects" [class.active]="scrollAmount==-2" (click)="scrollAmount=-2"></span>
    <span class="btn" ngbTooltip="Contact Me" [class.active]="scrollAmount==-3" (click)="scrollAmount=-3"></span>
</nav>

<section #portfolio appRainsScroll [(scrollAmount)]="scrollAmount"
    class="portfolio portfolio-container position-absolute top-0">
    <div class="full-width-div" id="app-landing-page" [active]="scrollAmount==0" [class.bg-active]="scrollAmount==0">
    </div>
    <div class="full-width-div" id="app-generic" (navigate)="navigateTo('about')" [config]="aboutConfig"
        [class.bg-active]="scrollAmount==-1">
    </div>
    <div class="full-width-div" id="app-generic" (navigate)="navigateTo('projects')" [config]="projectsConfig"
        [class.bg-active]="scrollAmount==-2">
    </div>
    <div class="full-width-div" id="app-generic" (navigate)="navigateTo('contact')" [config]="contactConfig"
        [class.bg-active]="scrollAmount==-3">
    </div>
</section>