@if (active) {
<section id="home" class="overflow-hidden h-100 w-100 position-relative" [class.active]="active()">
    <div class="introduction">
        <div appSlideInOut direction="left" [inView]="active()"
            class="text-section vw-100 vh-100 d-flex flex-column justify-content-center align-items-start  overflow-hidden">
            <div class="name position-relative  ">
                {{pageTitle}}
            </div>
            <br>
            <div>
                <div class="liners position-relative">
                    <span class="bg-danger"></span>
                    <span class="bg-danger"></span>
                </div>
                <h2 class="high-text text-justify">{{highText}}</h2>

            </div>
            <button class="btn btn-danger show-more">
                Explore
            </button>
        </div>
    </div>
    <div class="space vw-100 vh-100">
        <div class="stars" appSlideInOut direction="right" [inView]="active()">
            <div class="layer" data-depth="0.3">
                <div class="image-cover" [class.active]="active()">
                    <img [src]="imageSource" alt="">
                </div>
            </div>
        </div>
    </div>

</section>
}