<section id="about" class="body  p-2 mt-2">
    <svg id="visual" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1">
        <g style="transform: translate(100%, 0px);">
            <path
                d="M0 189.3C-12.2 148.5 -24.4 107.7 -56 97C-87.6 86.3 -138.5 105.8 -163.9 94.6C-189.4 83.5 -189.3 41.8 -189.3 0L0 0Z"
                fill="#FBAE3C"></path>
        </g>
        <g style="transform: translate(0, 100%);">
            <path
                d="M0 -189.3C40.1 -188.4 80.3 -187.5 94.6 -163.9C109 -140.4 97.6 -94.1 109.1 -63C120.6 -31.9 154.9 -15.9 189.3 0L0 0Z"
                fill="#FBAE3C"></path>
        </g>
    </svg>
    <div class="heading h-100 d-flex center">
        <div class="item h-100 w-100">
            <div class="w-100 h-100 d-flex justify-content-center align-items-center">
                <section class="wrapper">
                    <div class="top">{{name}}</div>
                    <div class="bottom" aria-hidden="true">{{name}}</div>
                    <span class=" nav-link desc ps-2">{{desc}} <i class="bi bi-crow"></i>
                        <H6>
                            <section class="teck-stack">
                                <h5>{{intro}}</h5>
                            </section>
                        </H6>
                    </span>
                    <section class="resource mt-3 d-flex align-items-baseline">
                        <i class="btn svg svg-linkedin"></i>
                        <i class="btn svg svg-github"> <a href=""></a> </i>
                        <div class="flex-fill d-flex flex-wrap justify-content-center">
                            <i class="svg svg-aws"> <a href=""></a> </i>
                            <i class="svg svg-spring"> <a href=""></a> </i>
                            <i class="svg svg-java"> <a href=""></a> </i>
                            <i class="svg svg-angular"> <a href=""></a> </i>
                            <i class="svg svg-react"> <a href=""></a> </i>
                            <i class="svg svg-docker"> <a href=""></a> </i>
                            <i class="svg svg-javascript"> <a href=""></a> </i>
                            <i class="svg svg-html"> <a href=""></a> </i>
                            <i class="svg svg-css"> <a href=""></a> </i>
                            <i class="svg svg-scss"> <a href=""></a> </i>
                            <i class="svg svg-tomcat"> <a href=""></a> </i>
                            <i class="svg svg-git"> <a href=""></a> </i>
                            <i class="svg svg-postgres"> <a href=""></a> </i>
                            <i class="svg svg-oracle"> <a href=""></a> </i>
                            <i class="svg svg-mysql"> <a href=""></a> </i>
                            <i class="svg svg-aws-code-commit"> <a href=""></a> </i>
                        </div>

                    </section>

                </section>
            </div>
        </div>
    </div>

    <div class="position-absolute top-0 end-0">

    </div>
</section>