// $content-width: clamp(50%, 30rem, vw);
$arrow_bg_color :rgb(223, 214, 214);


.navbar {
    height: 60px;

    &>div {
        max-width: 40rem;
        grid-template-columns: 1fr 1fr;
    }

    .form-check.active {
        background-color: aliceblue;
    }

    [ngbdropdown] {
        // max-width: 15rem !important;

        .dropdown-menu {
            height: 20rem;
            white-space: nowrap;
            overflow: hidden;

            .form-check-input {
                // scale: 1.2;
                display: none;
            }

        }
    }



    .input-group {
        input {
            border: none !important;
            outline: none;
            box-shadow: none;
        }
    }

    ::placeholder {
        color: white;
    }


}

section {
    height: calc(100dvh - 120px);

    .timeline {


        .projects {
            width: 100%;
            display: grid;
            grid-gap: 10px;
            justify-items: center;
            grid-template-columns: repeat(auto-fit, minmax(min(500px,100%), 1fr));

            .timeline-container {
                &>.btn {
                    .bi {
                        line-height: 1;
                    }
                }

                .icon {
                    right: -1.5rem;
                    border-radius: 50%;
                    top: 20px;
                }

            }
        }


    }
}

@media screen and (orientation:portrait) and (max-width:1300px) {
    section {
        padding: 5px !important;

        .timeline {

            .projects {

                .timeline-container {
                    // background-color: black;
                    width: 100% !important;
                    padding: 0 0 0 0 !important;
                    margin-top: 1rem !important;
                }
            }

        }
    }

}

 

.content-icons {
    width: 100%;

    .content-box {
        cursor: pointer;
        min-width: 2rem;
        height: 2rem;
        display: flex;
        flex-direction: column;

        .bi {
            margin: auto;
            padding-bottom: 0;
        }

        img {
            width: 2rem;
            height: 2rem;
            object-fit: scale-down;
        }


    }
}