// $content-width: clamp(50%, 30rem, vw);
$arrow_bg_color :rgb(223, 214, 214);


.navbar {
    height: 60px;

    .form-check.active {
        background-color: aliceblue;
    }

    .dropdown {
        max-width: 15rem !important;

        .dropdown-menu {
            height: 20rem;
            white-space: nowrap;


            .form-check-input {
                scale: 1.2;
                display: none;
            }

        }
    }



    .input-group {
        border-radius: 1rem !important;
        max-width: 12rem;
        width: 50%;
    }

    ::placeholder {
        color: white;
    }


}

section {
    height: calc(100dvh - 120px);

    .timeline {


        .projects {
            max-width: 2000px;

            .timeline-container {

                .btn {
                    width: min-content;
                    height: min-content;
                }

                &>.btn {
                    .bi {
                        font-size: 3rem;
                        line-height: 1;
                    }
                }

                .icon {
                    right: -1.5rem;
                    border-radius: 50%;
                    top: 20px;
                }

                &.start-50 {
                    .icon {
                        left: -1.5rem;
                    }

                    .content {
                        &::after {
                            left: -15px;
                            border-right: 15px solid $arrow_bg_color;
                        }
                    }

                }

                &:not(.start-50) {
                    .content {
                        &::after {
                            right: -15px;
                            border-left: 15px solid $arrow_bg_color;
                        }
                    }
                }

                .content {
                    border-radius: 1rem;

                    &::after {
                        content: "";
                        width: 0;
                        height: 0;
                        position: absolute;
                        top: 1rem;
                        border-top: 15px solid transparent;
                        border-bottom: 15px solid transparent;
                    }

                    .card-body {
                        .img-container {
                            .img {
                                width: 100%;
                                border-radius: 1rem;
                                object-fit: contain;
                                aspect-ratio: 1280 / 720;
                            }
                        }

                        &>p {
                            text-align: justify;
                        }
                    }
                }
            }
        }

        &::after {
            content: "";
            position: absolute;
            width: 6px;
            height: 100%;
            background-color: $arrow_bg_color;
            left: calc(50% - 3px);
            top: 0;
            z-index: -1;
            border-radius: 3rem;
        }
    }
}

@media screen and (orientation:portrait) {


    section {

        .timeline {

            .projects {

                .timeline-container {
                    // background-color: black;
                    width: 100% !important;
                    padding: 0 0 0 3rem !important;

                    .icon {
                        left: calc(-1.5rem + 8px) !important;
                        right: unset !important;
                    }

                    .content {

                        &::after {
                            left: -15px;
                            border-top: 15px solid transparent;
                            border-bottom: 15px solid transparent;
                            border-right: 15px solid $arrow_bg_color;
                            border-left: unset !important;
                        }
                    }
                }
            }

            &::after {
                left: 5px
            }
        }
    }

    .start-50 {
        left: 0 !important;
    }
}


@media screen and (orientation:landscape) {

    .content-icons {

        .content-box {
            margin: 0 1rem;
        }
    }

}

.content-icons {
    width: 100%;

    .content-box {
        cursor: pointer;
        min-width: 2rem;
        height: 2rem;
        display: flex;
        flex-direction: column;

        .bi {
            margin: auto;
            padding-bottom: 0;
        }

        img {
            width: 2rem;
            height: 2rem;
            object-fit: scale-down;
        }


    }
}