<div id="app-navbar" (navigateTo)="scrollAmount=$event"></div>
<section #portfolio appRainsScroll [(scrollAmount)]="scrollAmount"
  class="portflio portfolio-container position-absolute top-0">
  <div class="full-width-div" id="app-home">Div 5</div>
  <div class="full-width-div" id="div1">
    <div class="vh-100 vw-100 layer-one">
      <div class="vh-100 vw-100 layer-two">
        <div class="vh-100 vw-100 layer-three"></div>
      </div>
    </div>
  </div>
  <div class="full-width-div" id="div2">Div 2</div>
  <div class="full-width-div" id="div3">Div 3</div>
  <div class="full-width-div" id="div4">Div 4</div>
</section>