/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import "bootstrap-icons/font/bootstrap-icons.css";
// @import 'bootstrap-icons/font/bootstrap-icons';
/* Option 2: Import via CSS */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");


$bg: #011321;
$bg: #001c2d;

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    line-height: var(--bs-body-line-height);
    color: #fff;
    text-align: var(--bs-body-text-align);
    font-family: "Ubuntu Sans", sans-serif;
    // font-family: "roboto", sans-serif; 

    &:has(:not(#app-home)) {
        .navbar {
            background-color: $bg; //022236
            background: linear-gradient(45deg, $bg 0%, $bg 32%, $bg 75%, rgb(0, 21, 62) 100%);
        }
    }

    &:has(#app-home) {
        background-color: $bg; //022236    
        background: linear-gradient(45deg, $bg 0%, $bg 32%, $bg 75%, rgb(0, 21, 62) 100%);
    }

    h1 {
        line-height: 1
    }

    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    perspective: 10rem;
    overflow: hidden !important;
    height: 100vh;
    width: 100vw;

    &::after {
        content: "";
        margin: 0;
        padding: 0;
        top: 0;
        left: 0;
        position: absolute;
        z-index: 9999;
        background-color: $bg;
        animation: slide 0.69727828s linear;

        @keyframes slide {
            0% {
                width: 100vw;
                height: 100vh;
            }

            50% {
                width: 100vw;
                height: 50vh;
            }

            99% {
                width: 100vw;
                height: 0;
            }

        }
    }
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle {
    border-radius: 100% !important;
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 8px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
    /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
    background-color: #011321;
    /* color of the scroll thumb */
    border-radius: 20px;
    // margin: 1rem;
    // border: 10px solid white;
}

.main-bg {
    background-color: $bg; //022236    
    background-image: linear-gradient(to left, #dc3545, $bg);
}

.show-more {
    padding: 0.5rem 3rem;
    border-radius: 3rem;
    font-weight: 700;
    transition: all 0.5568s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    height: 3rem;
    position: relative;
    color: white;
    // background: linear-gradient(to right, #FF512F 0%, #DD2476 51%, #FF512F 100%);

    background: linear-gradient(to right, #001C2D 0%, #dc3545 100%, #001C2D 100%) #001C2D;
    border: 1px solid #ffffff !important;

    span {
        position: absolute;
        transform: translate(-50%, -50%);
        background-color: rgba(255, 255, 255, 0.29);
        border-radius: 50%;
        animation: ripple 1s cubic-bezier(0.59, 1, 0.22, 1) 0s infinite;
        background-size: 200% auto;

        @keyframes ripple {
            0% {
                width: 0;
                height: 0;
            }

            100% {
                width: 200px;
                height: 200px;
            }
        }
    }

    &:hover {
        transform: translateY(5px);

        &::after {
            content: "";
            position: absolute;
            background-color: white;
            width: 1%;
            height: 150%;
            transform: rotate(15deg);
            left: -10%;
            top: -20%;
            box-shadow: 0px 0px 10px 10px rgba(255, 255, 255, 0.509);
            animation: flash 1.8s cubic-bezier(0, 1, 0.8, 2.8) 0s forwards;

            @keyframes flash {
                from {
                    left: 0%;
                }

                to {
                    left: 110%;
                }

            }

        }
    }

    &:active {
        scale: 0.95;
    }
}

.shadow-3d {
    box-shadow: 5px 5px 10px #00000080, -1px 0 5px #ffffff3e !important;
}